<ion-view view-title="Книга рецептов" class="shop-popular-view">
    <ion-content>
        <div class="row shop-products-narrow-cards-outer">
            <ul class="list-category">
                <li>Салаты</li>
                <li>Закуски</li>
                <li>Супы</li>
                <li>Мясо</li>
                <li>Рыба</li>
                <li>Овощи</li>
                <li>Выпечка</li>
                <li>Десерты</li>
                <li>Напитки</li>
                <li>Соусы и маринады</li>
            </ul>
        </div>
    </ion-content>
</ion-view>
