<ion-view class="welcome-view" cache-view="false">
    <ion-content scroll="false">
        <div multi-bg="bgs" interval="3000" helper-class="facebook-welcome-bg">
            <div class="top-content row">
                <div class="app-copy col col-center">
                    <a class="button button-clear button-light" ui-sref="app.feed">
                        <h1 class="app-logo">Cookie</h1>
                        <p class="app-tagline">
                            твоя книга рецептов
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
